hr{
    width:"90%";
     align:"left";
}

#quoteNumber{
    text-align:justify;


}


.quoteNumber{
    text-align: justify;

}


body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}