
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

    <title>Quotes!</title>    
</head>
<body>

    <div class="jumbotron">

                    <h1 class="display-4">Quotes!</h1>
                    <p class="lead">This application allows users to add in their favourite quote and let people upvote or down-vote. The Quote with the hightsts upvotes stays at the top.</p>
    </div>
<!-- <h1>Quotes</h1> -->
<div class="container">
    <div class="row">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
</div>
<ul>
    <div *ngFor='let quote of quotes; let i = index'>
        <div>{{quote.quoteBody}} published on {{quote.creationDate|date}}</div>
        <button class="btn btn-info btn-sm"(click) ='toggleDetails(i)'>Show Details</button>
        <app-quote-details *ngIf="quote.showDetails" [quote]='quote' (isComplete) ='deleteQuote($event, i)'></app-quote-details>
<app-vote></app-vote>
        <hr>
    </div>   
</ul>
<div>
<p class="quoteNumber"*ngIf='quotes.length <= 0' >You Stilll have no quotes.Please add quotes and add votes.</p>
</div>

</body>
